name = "CartesianDomainUtils"
uuid = "31d3d393-e656-4614-8ab7-f376885a6db2"
authors = ["Sam Miller <smil@lle.rochester.edu> and contributors"]
version = "0.1.0"

[compat]
julia = "1.6"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
